:root{
--color-prime:#00b3ff;
--color-secondary:#006eff;
--color-lighter:#81d8fd;
--color-aqua:#85ffd0;
}
* {
    margin: 0;
    padding: 0;
}
.banner{
    background-color: var(--color-secondary);
}
.banner img {
    max-width: 100%;
    height: auto;
    display: block;
    display: flex;
    margin:auto;
}
mainNav {
background-color:#81d8fd;
}
mainNav ul {
display:flex;
list-style: none;
background-color:#81d8fd;
}
mainNav a {
font-size: 1em;
transition: background-color 0.5s linear;
padding: 5px 15px;
margin: 15px;
background-color: var(--color-prime);
border-radius: 15px;
text-decoration: none ;
color:black
}
mainNav a:hover {
background-color: var(--color-secondary);


}


birdnav {
   margin:auto;
   background-color: #00fff2;
   
}
birdnav ul {
justify-content: center;
display:flex;
list-style: none;
background-color: #00fff2;

}

birdnav a {
    font-size: 2.5em;
    background-color: var(--color-prime);
    display: block;
    list-style: none;
    padding: 15px 30px;
    border-radius: 50px;
    transition:background-color 0.5s linear;
    text-decoration: none ;
    margin:5px;
    color:black
    
}
birdnav a:hover{
    background-color:var(--color-secondary);
}

filterlist {
    display: flex;
     background-color:var(--color-secondary);
     flex-direction: column;
    padding: 1em;
}
birdlist td {
    font-size: 3em;
    padding: 1em;
    text-align: center;    

    
}
birdlist td img {
    max-width: 100%;
    height: auto;
    display: block;
    display: flex;
    margin:auto;
    box-shadow:0 2px 20px rgba(0,0,0,2);
    border:5px solid rgb(0,0,0);
}
#search {
    padding: 8px;
    width: 200px;
    margin-bottom: 10px;
  }
button {
    margin: 7.5px 2.5px;
    padding: 10px;
    background-color:var(--color-lighter);
    border-radius: 10px;
    border-color:var(--color-secondary);
    transition:background-color 0.5s linear;
}
button:hover {
    background-color: var(--color-prime);
}
.search {
    margin-top:5px;
}
@media (max-width: 900px){
     birdlist td {
        font-size: 1.5em;
        font-size-adjust: initial;
    }
}

/*mobile*/
@media (max-width: 730px) {
    birdnav ul {
        font-size: 1em;
        flex-direction: column;
        text-align: center;
        padding:15px 30px;
        margin:auto;
        
    }
    birdnav {
        display: flex;
    }
    birdlist td {
        font-size: 0.75em;
        font-size-adjust: initial;
    }
    birdlist td img {

    height:100px;
    width:120px;
    margin:0.5em;
    }
}